@using CzechMapGame.Shared
@using CzechMapGame.Client.Components
@inject NavigationManager NavMan
@inject MapState MapState

@page "/"

<div id="map-container">
    <svg id="czechia" class="map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215 120">
        <g>
            @foreach (var area in MapState.Areas)
            {
                <path
                    class="area @area.Type.ToString().ToLower() @CssClassSolved(area) @CssClassHasQuestion(area)"
                    d="@area.SvgCoords"
                    onclick="@((Action<EventArgs>) ((args) => RedirectToQuestion(area)))"
                    fill="@area.DefaultCssColor"/>
            }
        </g>
    </svg>
</div>

<MapLegend/>

@code{

    private void RedirectToQuestion(Area area)
    {
        if(area.Question != null)
            NavMan.NavigateTo($"/question/{area.Name}");
    }

    private static string CssClassSolved(Area area)
    {
        switch (area.Solved)
        {
            case true:
                return "success";
            case false:
                return "failed";
            default:
                return "not-attempted";
        }
    }

    private static string CssClassHasQuestion(Area area)
    {
        return area.Question == null ? "no-question" : "has-question";
    }

}